<main>
 <div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <%= form_with model: @user, method: :patch do |f| %>
  		<h1>Uers info</h1>
  		<h2>Name</h2>
  		<%= f.text_field:name %>
  		<h2>Image</h2>
      <%= f.file_field :profie_image, accept: "image/*" %>

      <h2>Introduction</h2>
      <%=f.text_area:introduction %>
      <br>
      <%= f.submit 'Update User' %>

      <% end %>

</html>
